<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}BLOCK DE NOTAS{% endblock %}</title>
        
            <script src="{{ asset('bundles/framework/js/jquery-2.2.0.js') }}"></script>
            <link href="{{ asset('bundles/framework/js/bootstrap.min.js')}}" rel="stylesheet" type="text/css" />
            
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        {% block body %}{% endblock %}
        
    </body>
</html>
