{% extends "::base.html.twig"%}

{% block body %}
 <FORM action="{{ url('notes_editar') }}" method="post">
    
    <LABEL>TITULO: </LABEL>
              <INPUT type="text" name="titulo" value="{{nota.titulo}}"><BR>{#el value es para mostrar la variable dentro escrita y que no salga en cajon en blanco y el name es un identificador de este input para poder recogerlo con el request#}
    <LABEL>CONTENIDO: </LABEL>
              <INPUT type="text" name="contenido" value="{{nota.contenido}}"><BR>
    
    <INPUT class="btn btn-default" type="submit" value="EDITAR" name="editar"><BR>
     <INPUT type="text" hidden name="id" value="{{nota.id}}"><BR>{# para mandar un campo escondido con el valor que yo quiero en este caso el id de esta nota, no quiero mostrar el id al usuario#}
    
 </FORM>

{% endblock %}

